**Variable and data type MCQ question**

In [2]:
#question number 9
my_var = 10  # Global variable

def modify_variable():
    global my_var
    my_var = 20  # Modifies the global variable

modify_variable()
print(my_var)  # Output: 20

In [3]:
#Q_12
x=5
y=2

In [4]:
var = 2
print(2 == 2.0)

True

In [5]:
print(str(True), end=" ")
int("4.5")

True

ValueError: invalid literal for int() with base 10: '4.5'

In [6]:
set1 = {1, 5, 6, 4, 3}
print(set1)

{1, 3, 4, 5, 6}

In [7]:
set1 = {1, 5, 6, 4, 3}
print(set1)

{1, 3, 4, 5, 6}

In [8]:
set1 = {1, 5, 6, 4, 3}
print(set1)

{1, 3, 4, 5, 6}

In [14]:
x = 75
def myfunc():
    global x
    x = x + 1
    print(x)
myfunc()

print(x)

76
76

In [17]:
x = 75
def myfunc():
    #x = x + 1
    #print(x)
    pass
myfunc()
print(x)

75

In [23]:
def func1():
    z = 50
    return z
func1()
print(z)

NameError: name 'z' is not defined

In [24]:
x = {"a", "b", "c"}
y = {"b", "c", "d"}
z = x & y
print(z)

{'b', 'c'}

In [25]:
x = (1, 2, [3, 4])
x[2][0] = 5
print(x)

(1, 2, [5, 4])

In [26]:
x = {"name": "John", "age": 30}
print(x["address"])

KeyError: 'address'

In [27]:
x = {"apple", "banana", "cherry"}
y = x.pop()

In [28]:
y

'banana'

In [29]:
my_set = {1, 2, 3, 4, 5}
popped_element = my_set.pop()
print(f"Popped element: {popped_element}")
print(f"Updated set: {my_set}")

Popped element: 1
Updated set: {2, 3, 4, 5}

In [30]:
x = {"a", "b", "c"}
y = x - {"b"}
print(y)

{'c', 'a'}