***Python PRINT_STATEMENT***

In [1]:
#Print is us for Answer
a=10
b=20
a
b

20

In [2]:
# Similar example with print 
a=10
b=20
print(a)
print(b)

10
20

In [3]:
 print(10)

10

In [4]:
        print(10)

10

In [5]:
print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

In [6]:
num1=20
num2=30
add=num1+num2
print(add)

50

**PRINT result With String**

In [8]:
num1=20
num2=30
add=num1+num2
print("the sum of {} and {} is : {}".format(num1,num2,add ))

the sum of 20 and 30 is : 50

In [10]:
num1=100
num2=25
num3=333
avg=(num1+num2+num3)/3 # or we can use avg=round(num1+num2+num3)/3,2)
avg1=round((num1+num2+num3)/3,2) # 2 indicate the how many percentage u want to put.
# The avrage of num1,num2,num3 is = avg
print('The avrage of {}, {}, and {} is= {} or {}'.format(num1,num2,num3, avg,avg1))

The avrage of 100, 25, and 333 is= 152.66666666666666 or 152.67

In [11]:
round(avg,2)

152.67

**For short format method (f string )**
.variable  Should be a curly braces
.write every thing in quote''
.At srating simple add f

In [16]:
num1=20
num2=30
add=num1+num2
print(f'The sum of {num1} and {num2} == {add}')

The sum of 20 and 30 == 50

In [20]:
name='Python' 
age=20
city='hyd'
#hellow my name is python and i am 10 year old from hydrabad
print(f"hello my name is {name} and i am {age} year old, i am from {city}.")
print("hello my name is {} and i am {} year old,i am from {}.".format(name,age,city))

hello my name is Python and i am 20 year old, i am from hyd.
hello my name is Python and i am 20 year old,i am from hyd.

In [27]:
First_name='Rajesh'
Last_name='Mahato'
print(First_name ,end=' ')
print(Last_name)
print(First_name + " "+ Last_name)

Rajesh Mahato
Rajesh Mahato

**Seperation**

In [29]:
name ="Rajesh", "Mahato"
name

('Rajesh', 'Mahato')

In [33]:
print("rajesh","mahato",sep="----")

rajesh----mahato

In [34]:
print("rajesh","mahato",sep="&")

rajesh&mahato

In [35]:
print("rajesh","mahato",sep="@")

rajesh@mahato

In [36]:
print("rajesh","mahato",sep=".")

rajesh.mahato

In [37]:
print(3,'.') # . is far from 3 so here we will use sep method

3 .

In [41]:
print(3,'.',sep="") # . is far from 3 so here we will use sep method

3.

In [42]:
print(1,2,end='')
print(3,'.',sep='')

1 23.