-------------------------------------
**Tuple Creation**
-----------------------------------------

In [1]:
tup1=() #empty tuple

In [2]:
tup2=(10,30,60) # tuple of integer number

In [3]:
tup3=(10.77,30.66,60.89) # tuple with float numbers

In [4]:
tup4=('one','two','three')# tuple in strings

In [9]:
tup5=('Asif',25,(50,100),(150,90))# nested tuple

In [11]:
tup6=('100','Asif',17.765) # tuple in mix data types

In [12]:
tup7=('Asif',25,[50,100],[150,90],{'john', 'David'},(99,22,33))

In [14]:
len(tup7) # lenth of the list

6

**tuple Indexing**
-------------------------------------------------------------------------

In [17]:
tup2[0]# retrive the first element of thr tuple

10

In [18]:
tup4[0]#retrive the first element of thr tuple

'one'

In [20]:
tup4[0][0]

'o'

In [21]:
tup4[-1]

'three'

In [22]:
tup5[-1]# last item of the tuple

(150, 90)

**Tuple Slicing**
------------------------

In [23]:
mytuple=('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [24]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [25]:
mytuple[0:3]

('one', 'two', 'three')

In [26]:
mytuple[2:5]

('three', 'four', 'five')

In [27]:
mytuple[:3]

('one', 'two', 'three')

In [29]:
mytuple[-3:]# return last three item

('six', 'seven', 'eight')

In [30]:
mytuple[-2:]# return last 2 item

('seven', 'eight')

In [32]:
mytuple[-1]# return last item

'eight'

In [33]:
mytuple[:]#return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

**Remove & Change Items**
---------------------------

In [34]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [36]:
del mytuple[0] #tuple is immutable so we cannot Delete

TypeError: 'tuple' object doesn't support item deletion

In [37]:
mytuple[0]=1 # tuple is immutable this means we cannot change the value

TypeError: 'tuple' object does not support item assignment

In [38]:
del mytuple # deleting entire tuple is possible

In [39]:
mytuple

NameError: name 'mytuple' is not defined

**Loop through a Tuple**
---------------------------

In [42]:
mytuple=('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [43]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [44]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [45]:
for i in enumerate(mytuple):   ## this will returen index and value 
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

**check if element is availabe in loop**

In [46]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [48]:
'one' in mytuple ## check the element will returen boolean value

True

In [49]:
'ten' in mytuple

False

In [50]:
if 'three' in mytuple:
    print("yes three is present in Tuple")
else:
    print("value is not present ")

yes three is present in Tuple

In [51]:
if 'eleven' in mytuple:
    print("yes three is present in Tuple")
else:
    print("value is not present ")

value is not present

**Index Position**
--------------------------

In [52]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [54]:
mytuple.index('one')

0

In [55]:
mytuple.index('five')

4

In [56]:
mytuple1=('one', 'two', 'three','one', 'two', 'three')

In [57]:
mytuple1

('one', 'two', 'three', 'one', 'two', 'three')

In [62]:
mytuple1.count('one')

2

In [63]:
mytuple1.count('three')

2

**Sorting**
-----------------

In [64]:
mytuple2=(43,67,99,12,6,90,67)

In [66]:
mytuple2

(43, 67, 99, 12, 6, 90, 67)

In [71]:
sorted(mytuple2) ## Sorted in Assending order

[6, 12, 43, 67, 67, 90, 99]

In [68]:
mytuple2

(43, 67, 99, 12, 6, 90, 67)

In [70]:
sorted(mytuple2,reverse=True) ## Shorted in desending Order

[99, 90, 67, 67, 43, 12, 6]