In [1]:
#print is use for answer

In [2]:
a=10
b=20
a
b

20

In [3]:
 print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

In [4]:
num1=20
num2=30
add=num1+num2
print(add)

50

**print result with string**
-----------------------------------

In [5]:
num1=20
num2=30
add=num1+num2
print('The Addition of',num1,'and',num2,'is=',add)

The Addition of 20 and 30 is= 50

In [7]:
name='Python'
age=20
city='hyd'
#hellow my name is python and i am 10 year old from hydrabad

In [10]:
print('My name is',name,'and i am',age,'year old from ',city)

My name is Python and i am 20 year old from  hyd

**Print Format Method**
------------------------------------

In [11]:
num1=20
num2=30
add=num1+num2
print('The addition of {} and {} ={}'.format(num1,num2,add))

The addition of 20 and 30 =50

In [12]:
name='Python'
age=20
city='hyd'
#hellow my name is python and i am 10 year old from hydrabad

In [14]:
print('My name is {} and i am {} year old from {}'.format(name,age,city))

My name is Python and i am 20 year old from hyd

In [16]:
num1=100
num2=25 
num3=333
avg=(num1+num2+num3)/3 # or we can use avg=round(num1+num2+num3)/3,2)
avg1=round((num1+num2+num3)/3,2)
# The avrage of num1,num2,num3 is = avg
print('The avrage of {}, {}, and {} is= {} or {}'.format(num1,num2,num3, avg,avg1)) # here we can use round(avg,2) also

The avrage of 100, 25, and 333 is= 152.66666666666666 or 152.67

**We can Apply F-string also which is good practice to define**
-------------------------------------------------------------

In [21]:
num1=20
num2=30
add=num1+num2
print(f'sum of {num1} and {num2} = {add}')

sum of 20 and 30 = 50

In [22]:
name='Python'
age=20
city='hyd'
#hellow my name is python and i am 10 year old from hydrabad
print(f'My name is {name} and i am {age} year old from {city}')

My name is Python and i am 20 year old from hyd

**let combine All**

In [23]:
num1=10
num2=20
add = num1+ num2
print('The addition of',num1,'and',num2,'is=',add)
print('The addition of {} and {} is= {}'.format(num1,num2,add)) 
print(f'The addition of {num1} and {num2} is= {add}')

The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30

**end Statement**
---------------------

In [25]:
print('hello')
print('good morning')

hello
good morning

In [28]:
print('hello',end=' ')##Here we will use end statement that joint line from end of one string to starting of other string
print('good morning')

hello good morning

**Seprator**
-------------------------
.here one print statement only we use
----------------------------------------
.inside one print statement we have multipal values
-----------------------------------------------------
.we want to seperate these multipal values with anything
--------

In [29]:
print('hello','World','how are you',sep='--')

hello--World--how are you

In [31]:
print('hello','hai','how are you',sep='&')

hello&hai&how are you

In [32]:
print('hello','World','how are you',sep='  ')

hello  World  how are you

In [33]:
print(3,'.') # . is far from 3 so here we will use sep method

3 .

In [36]:
print(3,'.',sep='') # see now space setteld(also use to remove space B/W words)

3.

In [ ]:
 print(1,2,end=' ') print(3,'.',sep='') # will print 1 2 3.